html
{
	background-image : url('ressource/image/PanoramaLyon.jpg');
	background-repeat : no-repeat ;
	background-attachment: fixed;
	background-position: top;
	background-size: auto 100%;
}

#boutonsMenu
{
	list-style: none;
	text-align: center;
	margin: 3vh 1vw;
	max-width: 100%;
}

#boutonsMenu li
{
	display: inline;
	text-align: center;
	max-width: 5vw;
}
#boutonsMenu li a
{
	background-color: rgb(150,150,200);
	border-radius: 0.5em;
	border: 1px solid white;
	padding: 1vh 1vw;
	margin: 0.1%;
	text-decoration: none;
	color: black;
	font-size: 150%;
	text-align: center;
}
#boutonsMenu li a:hover, #boutonsMenu li a:focus, #boutonsMenu li a:active
{
	background: rgb(90,90,160)
}

body>div
{
	background-color: #dcdbda;
	margin: 1vh 10vw;
	padding: 2em;
	border-radius: 0.5em;	
}

body>img
{
	position: fixed;
	bottom: 5px;
	width: 10vw;
}


#lionSil_g
{
	right: 5px;
}

#lionSil_d
{
	left: 5px;
}

h1
{
	border-top: 2px solid green;
	border-left: 6px solid green;
	padding: 3px;
	color: green;
}

p
{
	font-size: 15pt;
	/*width: 58%;*/
}

.clear
{
	clear:both;
}

div>img
{
	float: right;
	max-width: 40%;
}

#formulaire
{
	display: inline-block;

}


a
{
	color: rgb(230,125,20);
	text-decoration: none;
}

a:hover, a:focus, a:active
{
	background-color: white;
	border-radius: 0.2em;
	padding: 1px;
}

footer
{
	background-color: rgb(80,80,80);
	border-radius: 0.5em;
	margin: 1vh 10vw;
	padding: 1vh 1vw;
}

footer nav
{
	margin: 10px;
	text-align: center;
}

footer img
{
	width: 10%;
}

footer a
{
	margin: 2%;
}

footer>a
{
	float: right;
}