#sommaire
{
	border: 0px;
	list-style: none;
	margin-left: 2%;
	padding-left: 0px;
	font-size: 130%
}

#sommaire ol
{
	list-style: upper-roman;
	font-size: 90%;
	padding-left: 5%;
}

#sommaire li
{
	margin-left: 1vw;
	margin: 0.5em;
}

#sommaire a
{
	color: green;
}

#sommaire ol a
{
	color: #128b99;
}