html
{
	background-image : url('src/image/PanoramaLyon.jpg');
	background-repeat : no-repeat ;
	background-attachment: fixed;
	background-position: top;
	background-size: auto 100%;
}

header>div
{
	text-align: center;
	border-radius: 0.5em;
	margin: 1vh 3vw;
	padding: 1em;
	border: 1px solid white;
	background-color: rgb(150,150,200);
}

header>div>img
{
	width: 100%;
}
/*
#menu
{
	text-align: center;	
	margin: 1vh 3vw;
	padding: 2em;
	border-radius: 0.5em;
	background-color: rgb(200,100,100);
}
*/
#boutonsMenu
{
	list-style: none;
	text-align: center;
	margin: 3vh 1vw;
}

#boutonsMenu li
{
	display: inline;
	text-align: center;
}
#boutonsMenu li a
{
	background-color: rgb(150,150,200);
	border-radius: 0.5em;
	border: 1px solid white;
	padding: 1vh 1vw;
	margin: 0.1%;
	text-decoration: none;
	color: black;
	font-size: 150%;
	text-align: center;
}

body>div
{
	background-color: #dcdbda;
	margin: 1vh 10vw;
	padding: 2em;
	border-radius: 0.5em;	
}

h1
{ /* Appliqué au 1er paragraphe de body */
	text-align: center;
	text-decoration: underline;
	border-top: 2px solid green;
	border-left: 2px dashed green;
}

p
{
	font-size: 15pt;
}